<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= data %></h1>
	<p><a href="/auth/twitter_2">変換</a></p>
  </body>
</html>