<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>acount twitter screen_name</h1>	
	<div class="result">
		<%
		for(var i in twitter_id){%>
			<div id=<%= amount[i] %>><%= twitter_id[i] %><br /></div>
		<%
		}
		%>
	</div>
  </body>
</html>
