<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<p>screen_name: <input type="text" name="tw_name"></p>
	<a href="/auth/twitter">login</a>
  </body>
</html>