<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
		<form method="POST" action="/save_user">
			<p>screen_name: <input type="text" name="tw_name"></p>
			<input type="submit" value="保存する">
		</form>
	<a href="/auth/twitter">login</a>
	<p><%= msg %></p>
  </body>
</html>